<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // Javascript 사용하는 공간
        // 함수를 생성
        // 주소를 이동을 하는 함수
        function add(){
            // localhost:3000/board/add 주소로 이동
            location.href = "/board/add"
        }
    </script>
</head>
<body>
    <h1>게시판</h1>
    <!-- 
        게시글들이 들어오는 공간 table 게시글을 표현
        [{no:1, title:제목, contents:내용, writer:나},
        {}, ...]
     -->
     <table border="1">
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>작성자</th>
        </tr>
        <tr>
            <!-- content 데이터의 형태가 리스트 형태
            content = [{No:1, title:제목1, contents:내용1, writer:나},
                       {No:2, title:제목2, contents:내용2, writer:나}, ...] 
            1이라는 숫자를 출력하려면 -> content[0].No -->
            <td><%=content[0].No%></td>
            <td><%=content[0].title%></td>
            <td><%=content[0].writer%></td>
        </tr>
        <tr>
            <td><%=content[1].No%></td>
            <td><%=content[1].title%></td>
            <td><%=content[1].writer%></td>
        </tr>
        <tr>
            <td><%=content[2].No%></td>
            <td><%=content[2].title%></td>
            <td><%=content[2].writer%></td>
        </tr>
     </table>
     <!-- 글쓰기 버튼 
    글을 쓰는 페이지로 이동 -->
     <button onclick="add()">글 쓰기</button>
</body>
</html>